<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CropDoctor Home</title>
    <!-- <link rel="stylesheet" href="/cropDoctor/static/styles/home .css"> -->
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
    crossorigin="anonymous"
    />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}"/>
</head>
<body>
    <h2 class="link"><a href="/home">CropDoctor</a></h2>
    <nav class="navbar">
        <ul class="link-group">
            <li class="link"><a href="/">LogOut</a></li>
        </ul>
    </nav>
    <div class="index-section">
        <h1 class="heading">Steps to follow...</h1>
        <ul class="body-group">
            <li class="body">Scan the leaf with a phone camera.</li>
            <li class="body">Upload the image in the box given below.</li>
            <li class="body">Click on "Detect" button.</li>
        </ul>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <i class="fas fa-cloud-upload-alt"></i>
                </div>
                <div class="text">
                    No file chosen, yet!
                </div>
            </div>
            <div id="cancel-btn">
                <i class="fas fa-times"></i>
            </div>
            <div class="file-name">
                File name here
            </div>
        </div>
        <button onclick="defaultBtnActive()" id="custom-btn">Choose a file</button>
        <input id="default-btn" type="file" hidden>
    </div>
    <script>
        const wrapper = document.querySelector(".wrapper");
        const fileName = document.querySelector(".file-name");
        const defaultBtn = document.querySelector("#default-btn");
        const customBtn = document.querySelector("#custom-btn");
        const cancelBtn = document.querySelector("#cancel-btn i");
        const img = document.querySelector("img");
        let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
        function defaultBtnActive(){
            defaultBtn.click();
        }
        defaultBtn.addEventListener("change", function(){
            const file = this.files[0];
            if(file){
            const reader = new FileReader();
            reader.onload = function(){
                const result = reader.result;
                img.src = result;
                wrapper.classList.add("active");
            }
            cancelBtn.addEventListener("click", function(){
                img.src = "";
                wrapper.classList.remove("active");
            })
            reader.readAsDataURL(file);
        }
        if(this.value){
            let valueStore = this.value.match(regExp);
            fileName.textContent = valueStore;
        }
        });
    </script>
</body>
</html>